<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgn.cms.mapper.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.xgn.cms.domain.Project">
    <id column="projectId" jdbcType="INTEGER" property="projectId" />
    <result column="prjectName" jdbcType="VARCHAR" property="prjectName" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project
    where projectId = #{projectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xgn.cms.domain.Project">
    insert into project (projectId, prjectName, createTime
      )
    values (#{projectId,jdbcType=INTEGER}, #{prjectName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xgn.cms.domain.Project">
    update project
    set prjectName = #{prjectName,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where projectId = #{projectId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select projectId, prjectName, createTime
    from project
    where projectId = #{projectId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select projectId, prjectName, createTime
    from project
  </select>
</mapper>